.colone {
    width: 230px;
    height: 1000px;
    background: #f2f2f2;
}

.logo-img {
    padding: 15px 0;
}

.six-icons-div {
    padding: 7px 0;
}

.six-icons-div-img {
    margin: 0 2px;
}

.left-div-two-buttons > button {
    font-size: 12px;
}

.create-db-divs {
    padding: 5px 0 5px 8px;
}

.create-db-divs > a {
    color: black;
}

.create-db-divs > a:hover {
    color: black;
}

.create-db-divs > a > img {
    padding-bottom: 5px;
}

#accordion > .card {
    border: 0;
    border-radius: 0;
}

#accordion > .card > .card-header {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border-bottom: 0;
}

.info-text {
    padding-top: 2px;
    color: black;
}

.info-text:hover {
    color: #9c9c9c;
}

.accordion-head > a {
    text-decoration: none !important;
}

.title-style-div-one {
    margin: 0px 3px 0 10px;
    width: 16px;
}
.icon-load{
    /*display: none;*/
}
.title-style-div-two {
    margin: 0 3px 0px 0;
}

.img-icon {
    display: block;
    margin: 6px 0 0 0;
}
.spiner-icon{
    color: black;
}
.img-icon-two{
    display: block;
    margin: 6px 0 0 0;
}

.img-icone {
    display: none;
    margin: 6px 0 0 0;
}
.img-icone-two{
    /*display: none;*/
    margin: 0;
}

.collapse-after-div {
    margin-left: 30px;
}

#rw > .col-10 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.server-div {
    background-color: #9c9c9c;
}

.accordion-new-button {
    margin-left: 11px;
}

.accordion-new-button-img {
    margin-right: 4px;
}

.accordion-new-button-text {
    margin-top: 2px;
}

/*home*/
.home-div-one, .home-div-two, .home-div-three, .home-div-fore, .home-div-five {
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 15px 0;
}

.home-div-one > h4, .home-div-two > h4, .home-div-three > h4, .home-div-fore > h4, .home-div-five > h4 {
    background-color: #b8b8b8;
    padding: 5px 2px;
}

.home-div-one-flex {
    padding: 23px 5px;
}

.home-div-one-icon-one, .home-div-one-text, .home-div-one-select {
    margin: 0 5px;
}

.home-div-two-one, .home-div-two-two, .home-div-two-three, .home-div-two-three {
    margin: 20px 5px;
}

/*home*/

/*create db*/
.create-db-title {
    padding: 8px 0;
}

.create-db-a {
    padding: 10px 0px 5px 10px;
}

.input-div-one {
    padding: 10px 0;
}

#db-name {
    height: 25px;
    margin-right: 10px;
}

.input-div-but {
    height: 25px;
    padding: 0px 5px 0 5px;
    margin-left: 10px;
}

#tableFilter, #filter {
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;

}

#tableFilter > legend, #filter > legend {
    width: 110px;
    border: 1px solid black;
    margin-left: 15px;
    padding: 0 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.52);
    background-color: white;
}

.formelement {
    padding: 10px 0;
}

#create-db > table {
    margin: 10px 0;
    width: 40%;
}

#create-db > table > thead > tr > th, #create-db > table > tbody > tr > td {
    padding: 2px 15px;
}

.td-img {
    margin: -2px 0 0 0;
}

.td-a-href {
    padding-left: 5px;
}

/*create db*/

/*open table*/
#table-two > thead > tr {
    padding: 5px 5px;
}

.table-two-tr > th {
    padding: 5px 5px;
}

#db-table-filt {
    border: 1px solid #aaaaaa;
    padding: 24px 0;
    background-color: #eeeeee;
}

#db-table-filt > legend {
    width: 150px;
    border: 1px solid black;
    margin-left: 15px;
    padding: 0 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.52);
    background-color: white;
}

.cr-table-leg {
    font-size: 15px;
    padding: 0 0 0 0;
}

.img-cr-table {
    margin: -10px 0 0 0;
}

.cr-tb-button {
    background-color: #eeeeee;
    height: 80px;
    border: 1px solid #aaaaaa;
}

.cr-tb-button > button {
    float: right;
    margin-top: 40px;
    margin-right: 9px;
}

/*open table*/

/*string-display*/

.string-display-big {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.string-display-div-one {
    padding: 5px 5px;
    background-color: #ecf7a4;
}

.string-display-chek {
    margin: 4px 7px 0px 4px;
    color: green;
}

.string-display-div-two {
    padding: 5px;
    background-color: #e5e5e5;
}

.string-display-div-two > a {
    margin-right: 7px;
}

.string-display-table-name {
    margin-left: 5px;
}

.string-display-div-three {
    background-color: #d4dce3;
    padding: 5px;
}

.string-display-big-two {
    padding: 5px 5px;
    width: 66%;
    height: auto;
    margin: 10px 0;
}

.string-display-big-two:hover {
    background-color: #818990;
}

.string-display-big-two-one, .string-display-big-two-two, .string-display-big-two-three {
    padding: 8px 0;
    margin: 0px 4px 0 4px;
}

.string-display-big-two-three {
    padding: 4px 0 0 0;
    margin: 0px 4px 0 4px;
}

.string-display-big-two-fore {
    padding: 6px 0 0 0;
    margin: 0px 4px 0 4px;
}

.table-name-th-chek {
    padding: 0 !important;
    width: 150px !important;
}

.table-name-th-chek > input {
    margin: 7px 4px 0 5px;
}

#tab-for-table {
    width: 80% !important;
}

.print_ignore-one {
    border: 1px solid #aaaaaa;
    margin: 0px;
    padding: 6px 0px 13px 7px;
    background-color: #eeeeee;
}

.print_ignore-one > legend {
    width: 300px;
    border: 1px solid #aaaaaa;
    margin-left: 15px;
    padding: 0 5px;
    /*border-radius: 6px;*/
    /*box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.52);*/
    background-color: white;
    font-size: 17px;
}

.print_ignore-one > a {
    padding: 5px 0 !important;
    margin: 0;
}

.create-bookmark {
    border: 1px solid #aaaaaa;
    margin: 25px 0 0 0;
    padding: 6px 0px 13px 7px;
    background-color: #eeeeee;
}

.create-bookmark > legend {
    width: 300px;
    border: 1px solid #aaaaaa;
    margin-left: 15px;
    padding: 0 5px;
    background-color: white;
    font-size: 17px;
}

.create-bookmark-chek-two {
    margin: 8px 10px 0px 10px;
}

.create-bookmark-but-div {
    border: 1px solid #aaaaaa;
    background-color: #d4dce3;
    width: 100%;
    height: 60px;
}

.create-bookmark-button {
    float: right;
    margin-top: 15px;
    margin-right: 7px;
}

.tab-for-table-one {
    width: 300px !important;
}

/*string-display*/

/*crNewTableElements*/
.cr-new-tab-elemets{
    padding: 6px 5px 0 4px;
}
.cr-new-tab-elemets:hover{
    background-color: #b6c6d7;
}
#namefortab, #number-for-value{
    margin: 0 10px;
    height: 21px;
}
.cr-new-button-div{
    margin-left: 5px;
    margin-top: -1px;
}
.cr-new-button{
    padding: 1px 7px;
    border: 1px solid #9c9c9c;
    border-radius: 12px
}
.table-append-info> .row{
    background-color: #d4dce3;
}
#cr-new-tab-elemets-thead:hover, #cr-new-tab-elemets-tbody:hover{
    background-color: #b6c6d7;
}
/*select{*/
/*    width: 100%;*/
/*}*/
.cr-new-tab-elemets-tbody-tr>td{
    padding: 0 !important;
}
.indexit-json-info{
    margin-left: 30px;
}
/*crNewTableElements*/